# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Database
*.db
*.sqlite3

# Secrets
.env
.env.local

# Pytest / Cache
.pytest_cache/
.coverage
htmlcov/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
